[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
slow_query_log                = 1
slow_query_log_file           = /var/lib/mysql/mysqld-slow.log
long_query_time               = 0
log-queries-not-using-indexes = 1

innodb_flush_method = O_DIRECT

# innodb_flush_log_at_trx_commitのデフォルトは1
# https://dev.mysql.com/doc/refman/5.6/ja/innodb-parameters.html#sysvar_innodb_flush_log_at_trx_commit
innodb_flush_log_at_trx_commit = 2

innodb_buffer_pool_size = 6G

innodb_buffer_pool_dump_pct  = 100
innodb_buffer_pool_dump_at_shutdown= 1
innodb_buffer_pool_load_at_startup = 1
